<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>637112576322-4v2afu8bl2v9np1dgrba7445tskhobku.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.637112576322-4v2afu8bl2v9np1dgrba7445tskhobku</string>
	<key>API_KEY</key>
	<string>AIzaSyDIWumv6H6Ubr2pVBRhXaQ8ON6WOohCUPk</string>
	<key>GCM_SENDER_ID</key>
	<string>637112576322</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.techease.dumy</string>
	<key>PROJECT_ID</key>
	<string>dumy-4e4c3</string>
	<key>STORAGE_BUCKET</key>
	<string>dumy-4e4c3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:637112576322:ios:31ac5b7bc61cc70afa80db</string>
</dict>
</plist>